.App {
  text-align: center;
  height: 100vh;
}


.flexContainer {
  height: 100%;
  display: flex; 
  flex-direction: row ;
  flex-wrap: nowrap;
  align-items: stretch ;
}

.flexChild {
  width: 40%;

}


.r {
  background-color: red;

}

.b {
  background-color: blue;
  flex-grow: 1;
}