div#zigzag svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

div#zigzag .line {
    stroke: #fff;
    stroke-width: 2px;

    animation-name: growLine;
    animation-duration: 1s;
    animation-fill-mode: none;
}

@keyframes growLine {
    from {stroke-dasharray: 0% 100%;}
    to {stroke-dasharray: 100% 100%;}
}


div#zigzag p {
    position: absolute;
    width: 10vw;
    z-index: 2;
    background-color: #fffd;
    border-color: #fff;
    border-width: 2px;
    border-style: solid;
    font-size: 3vw;
    border-radius: 5px;
    overflow: hidden;
    
    animation-name: growHeightP;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes growHeightP {
    from {height: 0; transform: translateY(3.5vw); color:#0000}
    to {height: 7vw; transform: translateY(0); color:#000f}
  }
